/*======================================
Frederico Araujo.
Some part of this CSS was inspired from
the original ExtremeGeorgia theme
AUTHOR URI: http://www.mentariworks.com
======================================*/

/* Common HTML tags */
body
{
	background:#fff;
	font: 75%/110% helvetica,georgia,verdana,arial;
	text-align:left;
	line-height:20px;
	color:#444;
	width: 100%;
}

blockquote
{
	background:transparent url(<%= asset_path 'blockquote.png' %>) no-repeat left 9px;
	border-top:3px double #eee;
	border-bottom:3px double #eee;
	padding:10px 0 3px 0;
	margin-bottom:10px;
	font-style:italic;
}
#top {
  padding: 3px 0 0;
  height: 23px;
  background: #eee;
  font-size: 1.1em;
  text-align: right;
}
#top a {
  padding: 0 15px 0 0;
  vertical-align: top;
}
#top img {
  border: none;
  padding: 0;
}
/* Wrapper & Container */
#wrapper
{
	width:99%;
	margin:0 auto;
}

/* Header */
#header
{
	text-align:center;
	margin: 6px auto;
	padding: 2px;
	width: 99%;
}

#header h1 a
{
	font-size:2.0em;
	font-weight:normal;
	color:#666;
}

#header p
{
	font-size:1.5em;
	color:#888;
	margin-top:2px;
	letter-spacing:2px;
}

#header ul {
  margin: 5px 0px 0px 0;
}
#header li
{
  display: inline;
	font-size:1.5em;
	color:#888;
	margin: 2px 12px;
	letter-spacing:2px;
}
#header li a {
  color:#888;
}
#header li a:hover {
  color:#f25f0f;
}

/* Content */
#outer-space {
	width:100%;
	float:left;
	margin: auto;
}

#hfeed {
	width:100%;
	border: none;
	float:left;
	padding-bottom:6px;
	margin-bottom:6px;
}

#page-info {
  font-weight: bold;
	background:#ccc url(<%= asset_path 'info_bg.png' %>) repeat-x;
	color:#fff;
	color: #f25f0f;
	font-variant:small-caps;
	text-align:center;
	padding: 3px 0;
	font-size:1.3em;
}

#page-info span {
	background:#ccc;
	padding:0 3px;
	letter-spacing:2px;
}

.hentry {
	width:100%;
	margin:0px 0;
	overflow:hidden;
	padding:0 0px;
}

.entry-title {
	font-size:2.2em;
	font-weight:normal;
	line-height:175%;
}

.entry-meta
{
  float: left;
  width: 100%;
	text-align:center;
	padding:0px;
	margin:4px 0 0 2px;
	color:#888;
}

.entry-meta p, .entry-meta abbr
{
  font-size: 1.1em;
  margin: 6px;
	letter-spacing:2px;
	border:none;
}

.entry-meta h1 {font-size: 2.0em;}
.entry-meta h2 {font-size: 1.8em;}
.entry-meta h3 {font-size: 1.6em;}
.entry-meta h4 {font-size: 1.4em;}

.metadata
{
	background:transparent url(<%= asset_path 'metadata-bg.png' %>) no-repeat top center;
	text-align:center;
	padding:25px 0 10px 0;
	color:#888;
	letter-spacing:2px;
}

.entry-content
{
	padding:0 10px;
	border: 1px solid orange;
}

.entry-content img
{
	margin-bottom:10px;
}

.entry-content p
{
	font-size:1.15em;
	margin-bottom:15px;
	line-height:165%;
	color:#444;
	width:99%;
	text-align:justify;
}

.separator
{
	border-top:1px dotted #ccc;
	margin:20px 0 30px 0;
}

#page-navigation
{
	margin:-10px 0 10px 0;
	border: 1px solid orange;
}

/* Links */
a 
{
	color:#f25f0f;
}

a:hover
{
	color:#444;
	border-bottom:1px dotted #ccc;
}

#header a:hover
{
	border:none;
}

.previous a
{
	float:left;
	padding:3px 10px;
	background:#ccc;
	color:#fff;
	margin-left:20px;
	font-variant:small-caps;
	font-size:1.2em;
	margin-top:-3px;
}

.next a
{
	float:right;
	padding:3px 10px;
	background:#ccc;
	color:#fff;
	margin-right:20px;
	font-variant:small-caps;
	font-size:1.2em;
	margin-top:-3px;
}

.previous a:hover, .next a:hover
{
	border:none;
	background:#333;
}

/* Sidebar */

#right-sidebar
{
	width:10%;
	padding:5px;
	float:right;
}


#right-sidebar h3
{
	font-variant:small-caps;
	font-size:1.2em;
	font-weight:normal;
	color:#888;
	padding-left:15px;
	margin-bottom:10px;
	border-bottom:1px dotted #ccc;
	letter-spacing:3px;
}


#right-sidebar ul li
{
	background:transparent url(<%= asset_path 'bullet.png' %>) no-repeat left 5px;
	padding-left:15px;
	margin-bottom:5px;
}

.widget
{
	margin-bottom:30px;
}

/* Footer */
.footer
{
  font-size: 1.2em;
	text-align:center;
	padding-bottom:10px;
	margin:18px 0 40px 0;
	color:#888;
	letter-spacing:2px;
}

/* Images */
.alignleft {
	float:left;
	margin:0 20px 10px 0;
}

.alignright {
	float:right;
	margin:0 0 10px 20px;
}

/* Positioning */
.clear {
	clear:both;
}

/* End Of File */

input {
  padding: 5px;
  border: 1px solid #999;
  margin: 2px;
}

li.highlight a {
  color:#f25f0f !important;
  text-decoration: underline;
}

.box {
  text-align:left;
  /*width: auto;*/
  /*float: left;*/
  height: 345px;
  border: 1px solid #bbb;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; /* all corners */
	-moz-box-shadow: 1px 1px 4px #999;
  -webkit-box-shadow: 1px 1px 4px #999;
  box-shadow: 1px 1px 4px #999;
  margin: 8px;
  /*display: inline;*/
  /*clear: none;*/
  background-color: #fff;
}
.box_title {
  text-align:left;
  margin: 0;
}
.box_title p {
  margin: 3px 3px 0px 8px;
}

.box_content {
  font-size: 1em;
  padding: 0px 6px 3px 3px;
  letter-spacing:0px;
  margin: 0;
  line-height: 1.4em;
}
.box_content a {
  padding: 0;
  margin: 0;
  text-align:left;
  color: #444;
}
.box_content a:visited {
  text-align:left;
  color: #aaa;
}
.box_content a:hover {
  color: #f25f0f;
  border:none;
}

.box_content p {
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 0px;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 1px 0;
	padding: 0;
}

table {
  text-align: left;
}
.inline {
  display: inline;
}

.feed_item {
  margin: 5px;
  padding: 10px;
  text-align: left;
}
.feed_item pre {
  border: none;
  font-size: 1.2em;
  letter-spacing: 2px;
  margin: 6px;
  font-family: georgia,verdana,arial;
}


#container {
  width: 98%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  font-size:1.2em;
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}


.fieldWithErrors {
  display: inline;
}

.fieldWithErrors input {
  border-color: red;
}

#errorExplanation {
  font-size: 1.1em;
  float: left;
  text-align: left;
  width: 380px;
  border: 2px solid #c44;
  padding: 0px;
  margin: 25px 10px;
  background-color: #FFE3D4;
}

#errorExplanation h2 {
  display: none;
  text-align: left;
  padding: 4px 4px 4px 12px;
  font-size: 1.1em;
  margin: 0px;
  background-color: #c44;
  color: #fff;
}

#errorExplanation p {
  color: #444;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 0;
  padding: 0;
}

#errorExplanation ul li {
  margin: 0 0 5px 20px ;
  padding: 0;
  color: #444;
  list-style: disc;
}
