/*form { 
  display: break;
  width: 222px; 
  margin: auto; 
  float:left;
  padding: 0 10px; 
  margin: 0;
}
form a { color: #336699; text-decoration: none; }

div.error { margin: 20px; padding: 10px 30px; font-size: 15px; line-height: 22px; background: #FFE3D4 url('/images/exclamation.png') no-repeat 7px center; border: solid 1px #FF7348; }
div.info { margin: 20px; padding: 10px 30px; font-size: 15px; line-height: 22px; background: #D4FFD4 url('/images/information.png') no-repeat 7px; border: solid 1px #00B900; }
div.note { margin: 20px 40px; padding: 10px 15px; font-size: 12px; line-height: 20px; background-color: #F1F2F3; border: solid 1px #97A6B5; color: #556677; }

fieldset { 
  display: break;
  padding: 20px; 
  background-color: #F1F2F3; 
  border: solid #666 1px; 
  margin: 20px auto;
  border-radius: 2%;
  -moz-border-radius: 2%;
  -webkit-border-radius: 20px;
  -moz-box-shadow: 1px 1px 6px #999;
  -webkit-box-shadow: 1px 1px 6px #999;
  box-shadow: 1px 1px 6px #999;
}
fieldset legend { 
  text-align: center; 
  font-size: 1.8em; 
  color: #556677; 
  border: solid #C8CCD0 1px; 
  background-color: #fff; 
  padding: 10px 40px; 
}
fieldset label { font-size: 1.5em; color: #556677; display: block; padding: 2px; }
fieldset input { font-size: 1.5em; padding: 6px; border: solid #BCC6CF 1px; margin-bottom: 6px; color: #555;}
fieldset div.submit { padding: 0; text-align: center; }
fieldset div.submit input { color: #444; font-size: 1.2em; padding: 4px 12px;  }
fieldset p { font-size: 14px; padding: 4px; }*/






/* -------------------------------------------------------------- 
   
   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms
   
   Usage:
   * For text fields, use class .title or .text
   
-------------------------------------------------------------- */

/* Admin Forms */

fieldset {
  font-size: 1.1em;
  letter-spacing:0px;
  text-align: left;
  color: #555;
	padding: 10px;
	margin: 15px 20px;
	border: 1px solid #999;
}

fieldset label {
  display: block;
  letter-spacing:0px;
  text-align: left;
  color: #666;
	font-size: 1.2em;
	margin-top: 10px;
}

legend { 
  text-align: left;
  color: #666;
	font-size:1.6em;
}


/* Form fields
-------------------------------------------------------------- */

input, select {
	color: #555;
	padding: 4px;
	font-size: 1.2em;
}
input, input.text, input.title, select {
  margin: 0.2em 0 0.4em 0;
  border:1px solid #888;
}
textarea {
	margin: 0.2em 0 0.2em 0;
  border: 1px solid #888;
}
input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border:1px solid #888;
}

input.text, 
input.title   { width: 300px; padding: 5px; }
input.title   { font-size:1.5em; }
textarea  { 
	padding:3px;
	border: 1px solid #888;
}

input.inline	{display: inline; clear:none;}

.button-to, .button-to div		{display: inline;}



/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; font-size: 1.2em;}

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }




#columnarForm fieldset
{
	float: left;
	display: block;
	width: auto;
	padding: 0 0.8em 0.8em 0.8em;
	min-height: 150px;
}

#columnarForm fieldset.50-wider {
	width: 20em;
}
#columnarForm ul,
#columnarForm ol {
	margin: 0.5em 0 0 0.2em;
	padding: 0;
}

#columnarForm fieldset.radio
{
	width: 15em;
	margin: 1em 0 2em 0;
}

#columnarForm fieldset.radio input
{
	clear: both;
	float: left;
	width: auto;
}

#columnarForm fieldset.radio label
{
	font-weight: normal;
}

#columnarForm label.first
{
	padding-top: 1em;
}

#columnarForm select
{
	display: block;
}

#horizontalForm fieldset
{
	display: block;
	margin: 0 0 0.6em 0;
	padding: 0.6em;
}

#horizontalForm fieldset.radio
{
	margin: 1em 0 2em 0;
}

#horizontalForm fieldset.radio input
{
	clear: both;
	float: left;
	width: auto;
}

#horizontalForm fieldset.radio label
{
	font-weight: normal;
}

#horizontalForm input
{
	display: block;
	width: 15em;
}

#horizontalForm input.submit
{
	clear: both;
}

#horizontalForm label
{
	float: left;
	display: block;
	margin: 1em 1em 0 0;
	font-weight: bold;
}

#horizontalForm select
{
	display: block;
}

#marginForm fieldset
{
	display: block;
	margin: 0 0 1em 0;
	border: 0 solid #FFFFFF;
	border-top: 1px solid #000000;
	padding: 0 1em 1em 1em;
}

#marginForm fieldset.radio
{
	margin: 0 0 0 -1em;
	border: 0 solid #FFFFFF;
}

#marginForm fieldset.radio input
{
	position: static;
	clear: both;
	float: left;
}

#marginForm fieldset.radio label
{
	position: relative;
	top: -1.25em;
	display: inline;
	width: auto;
	margin: 0 0 0 8em;
	font-weight: bold;
	font-weight: normal;
}

#marginForm fieldset.radio legend
{
	float: left;
	font-weight: bold;
}

#marginForm input
{
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
}

#marginForm input.submit
{
	clear: both;
	top: 0;
}

#marginForm label
{
	clear: both;
	float: left;
	display: block;
	width: 8em;
	margin-top: -1em;
	font-weight: bold;
}

#marginForm label.first
{
	margin-top: 1em;
}

#marginForm select
{
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
}

#verticalForm fieldset
{
	display: block;
	width: 560px;
	margin: 0 0 2em 0;
	padding: 0 1em 1em 1em;
}

#verticalForm fieldset.radio
{
	width: 15em;
	margin: 1em 0 2em 0;
}

#verticalForm fieldset.radio input
{
	clear: both;
	float: left;
	width: auto;
}

#verticalForm fieldset.radio label
{
	font-weight: normal;
}

#verticalForm input
{
	display: block;
	width: 15em;
}

#verticalForm label
{
	display: block;
	margin-bottom: 1em;
	font-weight: bold;
}

#verticalForm label.first
{
	padding-top: 1em;
}

#verticalForm select
{
	display: block;
}

#columnarForm input.hidden {
	display: none;
	border: none;
}


input.small {
	padding: 2px;
}

