<% if Rails.env == "production" %>
  <a class="FlattrButton" style="display:none;" href="http://technews-homepage.com"></a>
<% else %>
  <a href="#"><img src="https://flattr.com/_img/button-example-50x60.png" alt="" /></a>
<% end %>