<% if Rails.env == "Production" %>

  <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://technews-homepage.com"></a>

<% else%>

  <a href="#"><img src="https://flattr.com/_img/button-compact-example-100x17.png" alt=""/></a>
  
<% end %>