/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-size: 0.8em;
    line-height: 1.5em;
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
  	font-size: 16px;
  	-webkit-text-size-adjust: none;
	}
	.box {
	  min-height: 200px;
    height: auto;
  }
  

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}