<% #cache "#{@global_user_id}/categories/#{@category.id}" do 
%>
  <% i = 1 %>
  <% for feed_site in @feed_sites %>
    <% i+=1 %>
    <div class="box">
      <div class="box_title">
        <p>
          <% if feed_site.avatar? %>
            <%= link_to(image_tag(feed_site.avatar.url(:large)), h(feed_site.site_url.to_s), :title => h(feed_site.title)) %>
          <% else %>
            <%= link_to(h(feed_site.title), h(feed_site.site_url.to_s), :title => h(feed_site.title))%>
          <% end %>
        </p>
      </div>
      <div class="box_content">
        <% feed_site.feed_entries.per_box.each do |t| %>
          <p> - 
            <% if logged_in? %>
              <%= link_to(t.title.to_s, h(t.url), :title => strip_tags(t.summary.to_s)) %>
            <% else %>
              <%= link_to(t.title.to_s, h(t.url), :title => t.title.to_s) %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    <% if i%3==1 %>
      <br clear="both"/>
    <% end %>
  <% end %>
  
<% #end 
%>