<% cache_expiring(@category.cache_key_full, 900) do %>
  <div class="row-fluid">
    <% @feed_sites.each_with_index do |feed_site,i| %>
      <div class="span4">
        <div class="box">
          <div class="box_title">
            <p>
              <% if feed_site.avatar? %>
                <%= link_to(
                      image_tag(feed_site.avatar.url(:large)),
                      feed_site,
                      :title => h(feed_site.title)
                    )
                %>
              <% else %>
                <%= link_to(h(feed_site.title), feed_site, :title => h(feed_site.title))%>
              <% end %>
            </p>
          </div>
          <div class="box_content">
            <% feed_site.feed_entries.per_box.each do |t| %>
              <p><%= link_to(t.title.to_s, h(t.url), :title => get_feed_title(t)) %></p>
            <% end %>
          </div>
        </div>
      </div>
      <% if (i+1).modulo(3)==0 %>
        </div>
        <div class="row-fluid">
      <% end %>
    <% end %>
  </div>
<% end %>
<% content_for :title do %>
  <%= @category.title %> News
<% end %>