body
{
	font:95%/115% georgia,verdana,arial;
	text-align:left;
	line-height:20px;
	color:#444;	
}

.wrapper {
	width:260px;
}

.box {
  width: 100%;
  float: left;
  padding-bottom: 5px;
  height: auto;
  margin: 2px 0 10px 0;
}
